node_modules
**/node_modules
.git
.github
.husky
.vscode
apps/*/dist
apps/*/app
apps/*/out
apps/**/.next
**/.turbo
/dist
Dockerfile
.dockerignore
Makefile
**/*.log
**/test-results
**/failed-tests
docs
